# Models that will be pulled for Ollama and used by the Node.js application.
# Examples for chat model: gemma3:1b, deepseek-r1:1.5b (recommended); gemma3:270m, qwen2:0.5b (lightweight)
OLLAMA_CHAT_MODEL=gemma3:270m
# Examples for chat model: embeddinggemma:300m, qwen3-embedding:0.6b (recommended); nomic-embed-text:v1.5 (lightweight)
OLLAMA_EMBEDDING_MODEL=nomic-embed-text:v1.5
